<ion-header class="ion-no-border" translucent="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="secondary">
      <ion-button (click)="irPara('perfil')" size="large">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
      <ion-button (click)="irPara('cashback')">
        <ion-icon slot="icon-only" name="cash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="secondary">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title size="large">Meu Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col col-6>
          <ion-avatar>
            <ion-img *ngIf="!usuario.foto" src="assets/imgs/avatar.png"></ion-img>
            <ion-img *ngIf="usuario.foto" [src]="base64Image"></ion-img>
          </ion-avatar>
        </ion-col>
        <ion-col col-6 text-right>
          <ion-button ion-item color="medium" fill="outline" shape="round" expand="full" size="medium"
            (click)="abrirModalEditarAvatar()">
            Editar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-list lines="none">
    <form [formGroup]="form">

      <ion-label>CPF</ion-label>
      <ion-item>
        <ion-input type="text" name="cpf" formControlName="cpf" placeholder="Informe o CPF" [brmasker]="{person: true}">
        </ion-input>
      </ion-item>

      <ion-label>Nome</ion-label>
      <ion-item>
        <ion-input type="text" placeholder="Informe o nome" name="nome" formControlName="nome"></ion-input>
      </ion-item>

      <ion-label>E-mail</ion-label>
      <ion-item>
        <ion-input type="text" name="email" placeholder="Informe o e-mail" formControlName="email"></ion-input>
      </ion-item>

      <ion-label>Celular / Whatsapp</ion-label>
      <ion-item>
        <ion-input type="text" name="whatsapp" placeholder="Informe o whatsapp" formControlName="whatsapp"
          [brmasker]="{phone: true}" [brmasker]="{mask:'(00) 0000-0000', len:14}"></ion-input>
      </ion-item>

      <!-- Endereço -->
      <ion-label for="cep">CEP</ion-label>
      <ion-item>
        <ion-input type="text" name="cep" formControlName="cep" name="cep" [brmasker]="{mask:'00.000-000', len:10}"
          (focusout)="pesquisarCep()">
        </ion-input>
      </ion-item>

      <ion-label for="logradouro">Logradouro</ion-label>
      <ion-item>
        <ion-input type="text" name="logradouro" placeholder="Informe o logradouro" formControlName="logradouro"
          name="cep"></ion-input>
      </ion-item>

      <ion-label for="numero">Nº / Complemento</ion-label>
      <ion-item>
        <ion-input type="text" name="complemento" placeholder="Informe o Nº/Complemento" formControlName="complemento"
          name="complemento"></ion-input>
      </ion-item>

      <ion-label for="bairro">Bairro</ion-label>
      <ion-item>
        <ion-input type="text" name="bairro" placeholder="Informe o bairro" formControlName="bairro" name="bairro">
        </ion-input>
      </ion-item>

      <ion-label for="cidade">Cidade</ion-label>
      <ion-item>
        <ion-input type="text" name="cidade" placeholder="Informe a cidade" formControlName="cidade" name="cidade">
        </ion-input>
      </ion-item>

      <ion-label for="estado">Estado</ion-label>
      <ion-item>
        <ion-input type="text" name="estado" placeholder="Informe o estado" formControlName="estado" name="estado">
        </ion-input>
      </ion-item>
    </form>
  </ion-list>

  <ion-row>
    <ion-col col-6>
      <ion-button ion-item color="light" fill="outline" shape="round" expand="full" size="medium" (click)="cancelar()">
        Cancelar
      </ion-button>
    </ion-col>
    <ion-col col-6 text-right>
      <ion-button ion-item color="success" fill="outline" shape="round" expand="full" size="medium"
        (click)="atualizarUsuario()">
        Salvar
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>