<ion-header class="ion-no-border" translucent="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button (click)="irPara('perfil')" size="large">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
      <ion-button (click)="irPara('home')">
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="secondary">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="danger" style="margin-top: -15px;">
    <ion-title size="large">PONTOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content style="text-align: center;">
      <div class="row">
        <ion-icon slot="icon-only" name="cash-outline"
          [ngClass]="pontuacaoAtual > 0?'pont-positiva font-7':'pont-negativa font-7'">
        </ion-icon>
      </div>
      <div class="row">
        <ion-label style="font-size: x-large;">Meus pontos: <b style="color: green;">{{pontuacaoAtual}}</b></ion-label>
      </div>

      <ion-list>
        <ion-item *ngFor="let item of leituras">
          <ion-label><b [ngClass]="item.valor > 0 ?'pont-positiva':'pont-negativa'">{{item.valor}}</b>:
            {{item.descricao}}</ion-label>
        </ion-item>
      </ion-list>

      <div style="text-align: center;">
        <ion-button expand="round" fill="outline" color="medium" (click)="visualizarHistorico()" disabled=true>
          <ion-icon name="search-outline" slot="start"></ion-icon>&nbsp;&nbsp;Consultar Histórico
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <div style="text-align: center;">
    <ion-button expand="round" fill="outline" color="light" (click)="lerQRCode()">
      <ion-icon name="qr-code-outline" slot="start"></ion-icon>&nbsp;&nbsp;LER QR CODE
    </ion-button>
  </div>


</ion-content>