<ion-header>
  <ion-toolbar>
    <ion-title>Cashback</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content style="text-align: center;">
      <div class="row">
        <ion-icon slot="icon-only" name="cash-outline" style="font-size: 7em; color: mediumseagreen;">
        </ion-icon>
      </div>
      <div class="row">
        <ion-label style="font-size: large;">Meus pontos: <b style="color: green;">110</b></ion-label>
      </div>
    </ion-card-content>
  </ion-card>

  <div style="text-align: center;">
    <ion-button expand="round" fill="outline" color="primary">
      <ion-icon name="qr-code-outline" slot="start"></ion-icon>&nbsp;&nbsp;LER QR CODE
    </ion-button>
  </div>

  <ion-list>
    <ion-item>
      <ion-label><b style="color: red;">-40</b>: Banho</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><b style="color: green;">+100</b>: Corte de cabelo feito no posto CCR!</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><b style="color: green;">+50</b>: Cadastro efetuado com sucesso!</ion-label>
    </ion-item>
  </ion-list>
</ion-content>