ion-content {
    --background: #a94442;
    --ion-text-color: #fff;

    ion-label {
        white-space: pre-line;
        word-break: break-word;
        color: black;
    }

    ion-button {
        font-size: medium;
    }

    .font-7 {
        font-size: 7em;
    }

    .pont-positiva {
        color: #3cb371;
    }

    .pont-negativa {
        color: red;
    }
}
