ion-content {
    --background: #e7e7e7;
    --ion-text-color: #4e4c4c;

    ion-card {
        border-radius: 10px 10px 0 0;
        margin-top: -15px;
        border: 1px solid #337ab7;
    }

    .dataConsulta {
        font-size: large;
        color: #337ab7;
    }

    .horaConsulta {
        font-size: large;
        text-align: right;
    }

    .pt-25 {
        padding-top: 25px;
    }
}
