ion-content {
    div {
        text-align: center;
    }

    h5 {
        font-size: xx-large;
    }

    ion-img {
        margin: 0 auto;
        width: 15em;
    }

    ion-label {
        font-size: large;
    }
}
