ion-content {
    --background: #a94442;
    --ion-text-color: #fff;

    ion-img {
        margin: 0 auto;
        width: 15em;
    }

    ion-label {
        font-size: large;
        margin: 0 auto;
        word-break: break-word;
        white-space: break-spaces;
    }

    ion-icon {
        font-size: 27px;
    }

    ion-button.w-270 {
        width: 270px;
        font-size: medium;
    }

    ion-input {
        background-color: white;
        color: black;
        max-width: 400px;
        margin: 0 auto;
    }

    form {
        max-width: 400px;
        margin: 0 auto;
    }

    .list-md {
        background: transparent;
    }

    .list-md-lines-none .item {
        border-radius: 10px;
    }
}
