<ion-content class="ion-padding">

  <ion-row>
    <ion-img src="assets/imgs/logo.png"></ion-img>
  </ion-row>

  <ion-list lines="none">
    <form [formGroup]="form">
      <ion-item>
        <ion-label position="stacked">E-mail</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Senha</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
    </form>
  </ion-list>
  <br>

  <ion-button ion-item color="primary" fill="outline" shape="round" expand="full" size="large" (click)="submit()">
    Entrar
  </ion-button>
  <br>

  <ion-button expand="full" fill="outline" color="danger" (click)="signInWithGoogle()">
    <ion-icon slot="start" name="logo-google"></ion-icon>&nbsp;&nbsp;LOGIN COM GOOGLE
  </ion-button>
  <br>

  <ion-button ion-item color="medium" fill="clear" expand="full" (click)="goToSignup()">
    Ainda não é cadastrado?<b>&nbsp;Cadastre-se!</b>
  </ion-button>
</ion-content>