<ion-content class="ion-padding">

  <ion-row>
    <ion-img src="assets/imgs/logo2.png"></ion-img>
  </ion-row>

  <ion-list lines="none">
    <form [formGroup]="form">

      <ion-label>E-MAIL</ion-label>
      <ion-item>
        <ion-input type="email" formControlName="email" placeholder="Informe o seu e-mail">
        </ion-input>
      </ion-item>
      <br>

      <ion-label>SENHA</ion-label>
      <ion-item>
        <ion-input type="password" formControlName="password" placeholder="Informe a sua senha"></ion-input>
      </ion-item>

    </form>
  </ion-list>
  <br>

  <div style="text-align: center;">
    <ion-button ion-item color="light" fill="outline" class="w-270" size="medium" (click)="submit()">
      ENTRAR
    </ion-button>
    <br><br>

    <ion-button fill="solid" color="tertiary" class="w-270" (click)="signInWithFacebook()" size="medium">
      <ion-icon slot="start" name="logo-facebook"></ion-icon>Entrar com Facebook
    </ion-button>
    <br>

    <ion-button fill="solid" color="danger" class="w-270" (click)="signInWithGoogle()" size="medium">
      <ion-icon slot="start" name="logo-google" style="margin-left: -20px;"></ion-icon>&nbsp;&nbsp;Entrar com Google
    </ion-button>
    <br>
  </div>
</ion-content>