<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Voltar"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-avatar>
          <ion-img *ngIf="!usuario.foto" src="assets/imgs/avatar.png"></ion-img>
          <ion-img *ngIf="usuario.foto" [src]="base64Image"></ion-img>
        </ion-avatar>
      </ion-row>
      <ion-row style="margin: 0 auto;">
        <ion-col col-6 text-left>
          <ion-button ion-item color="medium" fill="outline" shape="round" expand="full" size="medium"
            (click)="abrirGaleria()">
            Galeria
          </ion-button>
        </ion-col>
        <ion-col col-6 text-right>
          <ion-button ion-item color="medium" fill="outline" shape="round" expand="full" size="medium"
            (click)="abrirCamera()">
            Câmera
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>