<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="irPara('perfil')">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
      <ion-button (click)="irPara('cashback')">
        <ion-icon slot="icon-only" name="cash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="secondary">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Portal CCR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scroll-y="true">
  <div id="container">

    <div class="col-sm-12 col-md-4">
      <ion-card *ngFor="let card of cards">
        <ion-item>
          <ion-icon [name]="card.icone" slot="start"></ion-icon>
          <ion-label>{{card.titulo}}</ion-label>
          <ion-button fill="outline" slot="end" (click)="irPara(card.destino)">Veja mais</ion-button>
        </ion-item>

        <ion-card-content>
          {{card.descricao}}
        </ion-card-content>
      </ion-card>
    </div>

  </div>
</ion-content>