<ion-header class="ion-no-border" translucent="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="secondary">
      <ion-button (click)="irPara('perfil')">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
      <ion-button (click)="irPara('cashback')">
        <ion-icon slot="icon-only" name="cash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="secondary">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title size="large">Utilidades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scroll-y="true">
  <div id="container">

    <div class="col-sm-12 col-md-4">
      <ion-card *ngFor="let card of cards" (click)="irPara(card.destino)">
        <ion-item>
          <ion-icon [name]="card.icone" slot="start" color="secondary"></ion-icon>
          <ion-label><b>{{card.titulo}}</b></ion-label>
        </ion-item>

        <ion-card-content>
          {{card.descricao}}
        </ion-card-content>
      </ion-card>
    </div>

  </div>
</ion-content>