<ion-header class="ion-no-border" translucent="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button (click)="irPara('perfil')" size="large">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
      <ion-button (click)="irPara('cashback')">
        <ion-icon slot="icon-only" name="cash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="secondary" (click)="moverMenu()">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="danger" style="margin-top: -15px;">
    <ion-title size="large">EMERGÊNCIA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of itens" (click)="ligarPara(item.numero)" [disabled]="!item.habilitado">
          <ion-icon [name]="item.icone" slot="start" color="success"></ion-icon>
          <ion-label><b>{{item.descricao}}</b></ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar color="danger">
    <ion-title>Copyright 2020 Todos os direitos reservados</ion-title>
  </ion-toolbar>
</ion-footer>